.partner {
  background: url(../img/partner.png) no-repeat center center, #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.jconfirm-box {
  border-radius: 0 !important;
  background-color: #1d4289 !important;
  border-radius: 10px !important;
}
.jconfirm-content {
  text-align: left;
  font-size: .8rem;
  font-weight: 300;
  padding-top: 14px;
  color: white;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue {
  border-radius: 0;
  background: rgb(186,192,204);
  background: linear-gradient(90deg, rgba(186,192,204,1) 0%, rgba(91,112,143,1) 30%, rgba(91,112,143,1) 75%, rgba(186,192,204,1) 100%);
}
.jconfirm-closeIcon {
  color: white;
}
h1 {
  background-color: #1d4289;
  color: white;
  margin-top: 1.4em;
  font-weight: 700;
  padding: .05em .5em 0 .5em;
  border-radius: 50em;
  font-size: 1.75rem;
}
h1 img {
  width: 1.15em;
  vertical-align: top;
  padding-top: .2em;
}
h1 a {
  text-decoration: none;
}
h2 {
  color: #000;
  font-size: 1.65rem;
  font-weight: 600;
  line-height: 29px;
  padding-bottom: 1em;
}
.partner ul {
  text-align: left;
  color: #000;
  font-weight: 400;
  font-size: .88rem;
  list-style-image: url("../img/list-icon.png");
  margin-left: 3px;
}
.partner ul li {
  margin-bottom: .75em;
}
button.btn {
  border: 2px #1d4289 solid;
  border-radius: 50px;
  background-color: #fff;
  font-weight: 600;
  color: #1d4289;
  padding: .21em 0 0 0;
  font-size: .78rem;
}
button.btn:hover, button.btn:focus {
  opacity: .8;
}
.form {
  text-align: left;
}
.form-left {
  font-size: .88rem;
  color: #1d4289;
  font-weight: 700;
}
h4 {
  font-size: .95rem;
  margin-bottom: 5px;
  color: #000;
}
input[type=text], input[type=email] {
  background-color: transparent;
  font-size: .75rem;
  border-color: #1d4289;
  border-radius: 5px;
}
input[type=text]:hover, input[type=email]:hover {
  border-color: #1b499e;
}
input[type=text]::placeholder, input[type=email]::placeholder {
  color: #54595f;
}
.form-invalid {
  box-shadow: 0 0 0 0.1rem rgb(255 0 0 / 80%);
}
.form-control-info {
  font-size: .43rem;
  margin-top: 3px;
}
.submit {
  margin-top: 2em;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #fff;
  background-color: #1d4289;
  padding: .3em 1.65em .3em 1.65em;
}
.submit:hover {
  opacity: .8;
}

@media only screen and (min-width: 600px) {
  h1 img {
    width: 1.09em;
    padding-top: .23em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h1 img {
    padding-top: .23em;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 img {
    padding-top: .23em;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  h1 {
      font-size: 3.9rem;
  }
  h1 img {
      padding-top: .23em;
  }
  .btn-container {
    padding: 0 .3em;
  }
  .btn-container div:first-child {
      padding-right: 5em;
  }
  .btn-container div:nth-child(2) {
      padding-right: 2.5em;
      padding-left: 2.5em;
  }
  .btn-container div:last-child {
      padding-left: 5em;
  }
  .form-bottom div:first-child {
      padding-right: 1px;
  }
  .form-bottom div:last-child {
      padding-left: 1px;
  }
}