@charset "utf-8";
.section {
position: relative;
zoom: 1;
}
.sliders img {
vertical-align: bottom;
}
.sliders * {
margin: 0;
padding: 0;
}
.sliders {
position: relative;
max-width: 100%;
}
.sliders li {
overflow: hidden;
list-style-type: none;
}
.sliders li img {
border: 0;
}
.pager {
padding: 10px 0;
text-align: center;
}
.pager li {
display: inline-block;
*display: inline !important;
list-style-type: none;
zoom: 1;
}
/*https://wood-roots.com/sample/infiniteslidev2/*/